@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1110px;
}
.title-h1{
    font-size: 52px;
}
.shop-item{
    height: 357px;
    position: relative;
    background-position: no-repeat;
    background-size: cover;
    background-position: center center;
}
.shop-item01{
    background-image: url(../img/item01.png);
}
.shop-item02{
    background-image: url(../img/item02.png);
}
.shop-item03{
    background-image: url(../img/item03.png);
}
.sale{
    font-family: 'Rubik', sans-serif;
    background-color: #083C6E;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 14px;
}
.nosale{
    visibility: hidden;
}
.text-info{
    position: absolute;
    bottom: 0;
    left: .8rem;
    width: 100%;
    background-color: #083C6E;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-info .col-4{
    text-align: center;
}
.text-info h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}
.text-info p{
    font-size: 18px;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 5px 16px;
    margin-bottom: 0;
}